<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Bothniabladet</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/header.css" />
  <link rel="stylesheet" href="~/css/detailsPage.css" />
  <style>
    img.large {
      height: 50%;
      width: 50%;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" asp-area="" asp-controller="Images" asp-action="Index">Bothniabladet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Hem <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="Create">Ladda upp bilder</a>
          </li>
            @if (User.IsInRole("Customer"))
            {
          <li class="nav-item">
              <a class="nav-link text-dark" asp-controller="Checkout" asp-action="addItem" asp-route-id=0 nav-link="#" data-toggle="modal" data-target="#OpenBasketCaseModal">Kundvagn</a>
              @*Not a supernice way of doing the partial, there probably is a better way*@
              @Html.Partial("~/Views/Checkout/_PartialBasketCaseModal.cshtml", new Bothniabladet.Models.Checkout.ShoppingCartModel())
          </li>
            }
        </ul>

        @*The search no workning*@
        <form class="form-inline">
          <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Sök bilder..." aria-label="Sök efter bilder">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
        </form>
        @if (User.Identity.IsAuthenticated)
        {
          <h5 class="nav-link">  @User.Identity.Name</h5>
          <a class="nav-link" asp-controller="Account" asp-action="signOut">Logga Ut</a>
         
        }
        else
        {
          <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Logga in</a>
          <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrera</a>
        }
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2020 - Bothniabladet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
