@model Bothniabladet.Models.ImageModels.ImageDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">Back to List</a>

@*<h4>@Html.DisplayFor(model => model.Name)</h4>*@
<hr />
<div class="details-body-columns">

    <div class="edit-image-container">
        @*<h4>Det finns redigerade versioner av denna bild</h4>*@
        <table class="table">
            <thead>
                <tr>
                    Edited Versions
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ThumbNailDataStrings)
                {
                    <tr>
                        <td>
                            <img src="@item"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" data-toggle="modal" data-target="#AddEditedImageModal">Lägg till</button>

        <partial name="_PartialAddEditedImage" />
    </div>

    <div class="image-container">
        <img src="@ViewBag.ImageDataUrl" alt="@Html.DisplayNameFor(model => model.Name)" />
    </div>
    <div class="information-column">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Section)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Section)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Height)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileFormat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileFormat)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GPS)
            </dt>
            <dd class="col-sm-10">
                @if (Model.GPS == "POINT (0 0)")
                {@Html.DisplayFor(model => model.noGPS)}
                @if (Model.GPS != "POINT (0 0)")
                {@Html.DisplayFor(model => model.GPS)}
            </dd>

            @*Download doesn't exist yet and it also need to be changed to purchase depending on login status*@
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
        <a asp-action="Download" asp-route-id="@Model.Id">Ladda ner</a>
    </div>
</div>
