@model Bothniabladet.Models.ImageModels.ImageDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">

    <a asp-action="Index">Back to List</a>
    <hr />

    <div class="row">
        <div class="col-2">

            <div class="col p-0">
                <div class="col text-center pb-1 pl-0 pr-0">
                    <small class="text-muted">
                        Edited Versions
                    </small>
                </div>
                <div class="col overflow-auto" style="max-height:65vh">
                    @foreach (var item in Model.ThumbNailDataStrings)
                    {
                        <a class="pb-1 pl-0 pr-0" href="#">
                            <img class="img-thumbnail img-fluid mx-auto d-block" src="@item" />
                        </a>
                    }
                </div>
                <div class="col text-center pt-1 pl-0 pr-0">
                    <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#AddEditedImageModal">Lägg till</button>
                </div>
            </div>

            <partial name="_PartialAddEditedImage" />
        </div>



        <div class="col">
            <div class="col my-auto px-0" style="background-color:black">
                <a href="#" data-toggle="modal" data-target="#EnlargeImageModal">
                    <img class="img-fluid mx-auto d-block" style="max-height:75vh" src="@ViewBag.ImageDataUrl" alt="@Html.DisplayFor(model => model.Name)" />
                </a>
            </div>
            <div class="container">
                <div class="modal fade" tabindex="-1" id="EnlargeImageModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@Html.DisplayFor(model => model.Name)</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    ×
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" src="@ViewBag.ImageDataUrl" alt="@Html.DisplayFor(model => model.Name)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-3" style="max-height:75vh">

            <table class="table-sm table">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name): </th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Section): </th>
                        <td>@Html.DisplayFor(model => model.Section)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Date): </th>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Height): </th>
                        <td>@Html.DisplayFor(model => model.Height)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Width): </th>
                        <td>@Html.DisplayFor(model => model.Width)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FileFormat): </th>
                        <td>@Html.DisplayFor(model => model.FileFormat)</td>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.GPS): </th>
                        <td>
                            @if (Model.GPS == "POINT (0 0)")
                            {@Html.DisplayFor(model => model.noGPS)}
                            @if (Model.GPS != "POINT (0 0)")
                            {@Html.DisplayFor(model => model.GPS)}
                        </td>
                </tbody>
            </table>
            @*Download doesn't exist yet and it also need to be changed to purchase depending on login status*@
            <a class="align-text-bottom" asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
            <a class="align-text-bottom" asp-action="Download" asp-route-id="@Model.Id">Ladda ner</a>
        </div>
    </div>
</div>